.app-input {
  width: calc(100% - 20px); max-width: 300px;
  height: 40px; display: block;
  margin: 5px auto; padding: 0 15px;

  background: var(--colour-fg);
  border: none; border-radius: 10px;

  color: var(--colour-text);
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;

  -webkit-appearance: none; /* For Safari */

  &::placeholder {
    color: var(--colour-text);
    font-family: 'Barlow';
    font-weight: 400;
    user-select: none;
  }
  &:hover {
    box-shadow: var(--shadow-fg);
    transform: translateY(-4px);
    background: var(--colour-bg);
  }
  &:focus {
    background: var(--colour-bg);
    transform: translateY(0);
  }

  &.mono {
    font-family: monospace;
  }
}
