.app-button {
  width: calc(100% - 20px); max-width: 300px;
  height: auto; min-height: 50px;
  margin: 10px auto; padding: 0 15px;
  overflow: hidden; display: block;

  border: none; border-radius: 10px;
  cursor: pointer;
}
.app-button:hover {
  transform: translateY(-4px);
}
.app-button:active {
  transform: translateY(0px);
  transition-duration: 50ms;
  filter: brightness(80%);
}
.app-button.working {
  pointer-events: none;
}
.app-button h2 {
  margin: 0;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  user-select: none;
}

.app-button.primary {
  background: var(--colour-primary);
}
.app-button.primary h2 {
  color: var(--colour-bg);
}

.app-button.secondary {
  background: var(--colour-text);
  color: var(--colour-text);
}
.app-button.secondary h2 {
  font-weight: 500;
  color: var(--colour-bg);
}

.app-button.warning {
  background: var(--colour-warn);
}
.app-button.warning > h2 {
  color: white;
}
